.pause-overaly_wrapper {
    display: flex;
    grid-row: 1;
    grid-column: 1;
    height: 100vh;
    width: 100vw;
    background-color: #000000b5;
    z-index: 2;
    align-items: center;
    justify-content: center; 
    animation: fade-in .25s forwards; }

.pause-overaly_wrapper h1 {
    font-size: 10rem;
    text-transform: uppercase;
    color: var( --ivory ); }

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 100; } }